* {
    box-sizing: border-box
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.post .post-content ol li,
.post .post-content ul li,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img,
video {
    max-width: 100%;
    height: auto
}

a:hover,
a:active {
    outline: 0
}

h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1
}

h3 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1
}

h4 {
    font-size: 16px;
    font-size: 1rem
}

h5 {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1
}

h6 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1
}

small,
.tiny {
    font-size: 14px;
    font-size: 0.875rem
}

strong {
    font-weight: 700 !important
}

em {
    font-style: italic !important
}

h1,
h2,
h3,
h4 {
    text-rendering: optimizeLegibility;
    margin-bottom: 1.5px;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-weight: bold;
}

p,
.post .post-content ol li,
.post .post-content ul li,
li {
    font-size: 16px;
    font-family: "", Georgia, serif;
    line-height: 1.5;
    margin-bottom: 1.5px
}

.p--b {
    display: block
}

.p--m {
    margin-bottom: 1.5px
}

.p--nm {
    margin: 0
}

.p--ul {
    list-style-type: none
}

.f--l {
    float: left
}

.f--r {
    float: right
}

::-moz-selection {
    background: #86d2c3;
    text-shadow: none
}

::selection {
    background: #86d2c3;
    text-shadow: none
}

::-moz-selection {
    background: #86d2c3;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.5px 0;
    padding: 0
}

@-webkit-viewport {
    width: device-width;
    zoom: 1;
}

@-moz-viewport {
    width: device-width;
    zoom: 1;
}

@-ms-viewport {
    width: device-width;
    zoom: 1;
}

@-o-viewport {
    width: device-width;
    zoom: 1;
}

@viewport {
    width: device-width;
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

html,
:root {
    font-family: "", Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility
}

strong {
    font-weight: 700
}

em {
    font-style: italic
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding: 0px 15px;
    padding: 0rem 0.9375rem
}

.container:before,
.container:after {
    content: "";
    display: table
}

.container:after {
    clear: both
}

.col_8 {
    display: block;
    float: left;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    padding: 15px;
    padding: 0.9375rem;
    background: #f9f9f9;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.col_8:last-child {
    margin-right: 0
}

@media screen and (max-width: 768px) {
    .col_8 {
        display: block;
        float: left;
        margin-right: 2.3576515979%;
        width: 100%;
        margin-bottom: 15px;
        margin-bottom: 0.9375rem;
    }
    .col_8:last-child {
        margin-right: 0
    }
}

.col_4 {
    display: block;
    float: left;
    margin-right: 2.3576515979%;
    width: 31.7615656014%
}

.col_4:last-child {
    margin-right: 0
}

@media screen and (max-width: 768px) {
    .col_4 {
        display: block;
        float: left;
        margin-right: 2.3576515979%;
        width: 100%;
        margin-bottom: 15px;
        margin-bottom: 0.9375rem;
    }
    .col_4:last-child {
        margin-right: 0
    }
}

.clear:before,
.clear:after {
    content: "";
    display: table
}

.clear:after {
    clear: both
}

body {
    background: #efefef;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    border-top: 2.5px solid #0da688
}

header {
    max-width: 1080px;
    padding: 15px 0px;
    padding: 0.9375rem 0rem
}

header .header__logo {
    float: left;
    text-transform: uppercase;
    color: #060606;
    text-decoration: none;
    font-size: 19px;
    font-size: 1.1875rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
    -webkit-transition: color 0.8s ease-in;
    transition: color 0.8s ease-in
}

header .header__logo span {
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: none;
    font-weight: 300;
    font-style: italic
}

header .header__logo:hover {
    color: #0da688
}

header .header_nav {
    float: right
}

header .header_nav ul {
    list-style-type: none
}

header .header_nav li {
    float: left;
    margin-right: 20px;
    margin-right: 1.25rem
}

@media screen and (max-width: 640px) {
    header .header_nav li {
        float: none;
        display: block;
        margin-bottom: 10px;
        margin-bottom: 0.625rem;
    }
}

header .header_nav li a {
    text-decoration: none;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: #060606;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: color 0.8s ease-in;
    transition: color 0.8s ease-in
}

header .header_nav li a:hover {
    color: #0da688;
    border-bottom: 1.5px solid #0da688;
    padding-bottom: 2.5px;
    padding-bottom: 0.15625rem
}

header .header_nav li:last-child {
    margin-right: 0px
}

.icon-menu {
    font-size: 35px;
    font-size: 2.1875rem;
    float: right;
    cursor: pointer;
    display: none
}

.open {
    display: block
}

@media screen and (max-width: 640px) {
    .dsktp-nav {
        display: none
    }
    .icon-menu {
        display: block
    }
}

.open {
    display: block
}

.description {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    padding: 15px;
    padding: 0.9375rem;
    background: #f9f9f9
}

.description .description__logo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto
}

.description .description__text {
    margin: 10px 0px;
    margin: 0.625rem 0rem;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    text-align: center
}

.widget {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    padding: 15px;
    padding: 0.9375rem;
    background: #f9f9f9
}

.ads {
    padding: 0px
}

.author .author__image img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto
}

.author .author__bio,
.author .author__title,
.author .author__meta {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    color: #060606;
    text-align: center
}

.author .author__bio {
    margin: 10px 0px;
    margin: 0.625rem 0rem
}

.author .author__title {
    font-size: 21px;
    font-size: 1.3125rem;
    margin: 10px 0px;
    margin: 0.625rem 0rem;
    font-weight: 700
}

.author .author__meta .author__link a {
    text-decoration: none;
    color: #0da688
}

.list {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post__title {
    margin-top: 10px;
    margin-top: 0.625rem
}

.post__title a {
    color: #333;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    text-decoration: none;
    color: #060606;
    font-weight: 700;
    -webkit-transition: color 0.8s ease-in;
    transition: color 0.8s ease-in
}

.post__title a:hover {
    color: #0da688
}

.post__meta p,
.post__meta .post .post-content ol li,
.post .post-content ol .post__meta li,
.post__meta .post .post-content ul li,
.post .post-content ul .post__meta li {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    color: #060606;
    font-style: italic;
    font-weight: 300;
    margin-top: 7.5px;
    margin-top: 0.4685;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post__meta p a,
.post__meta .post .post-content ol li a,
.post .post-content ol .post__meta li a,
.post__meta .post .post-content ul li a,
.post .post-content ul .post__meta li a {
    color: #0da688;
    text-decoration: none
}

.post__excerpt p,
.post__excerpt .post .post-content ol li,
.post .post-content ol .post__excerpt li,
.post__excerpt .post .post-content ul li,
.post .post-content ul .post__excerpt li {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    color: #060606;
    font-size: 16px;
    font-size: 1rem
}

.post__excerpt .read-more {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    text-decoration: none;
    color: #0da688
}

.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post .post-content a {
    text-decoration: none;
    color: #0da688
}

.post .post-content p,
.post .post-content ol li,
.post .post-content ul li {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #060606;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post .post-content ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post .post-content ol li {
    margin-bottom: 5px;
    margin-bottom: 0.3125rem
}

.post .post-content ul {
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post .post-content ul li {
    margin-bottom: 5px;
    margin-bottom: 0.3125rem
}

.post .post-content img {
    max-width: 100%;
    height: auto
}

.post .post-content blockquote {
    background: #efefef;
    border-left: 3.5px solid #0da688;
    padding: 20px;
    padding: 1.25rem;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem
}

.post .post-content blockquote p,
.post .post-content blockquote ol li,
.post .post-content ol blockquote li,
.post .post-content blockquote ul li,
.post .post-content ul blockquote li {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 14px;
    font-size: 0.875rem;
    color: #060606
}

@media screen and (max-width: 768px) {
    .post .post-content pre>code {
        word-wrap: break-word
    }
}

.post .post-content img {
    padding: 2.5px;
    padding: 0.15625rem
}

pre {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-top: 0.625rem;
    background: #efefef;
    padding-left: 10px;
    padding-left: 0.625rem;
    display: block;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    line-height: 25px;
    line-height: 1.5625rem;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    overflow: auto
}

@media screen and (max-width: 768px) {
    pre {
        padding: 0 7px;
        padding: 0 0.4375rem;
        font-size: 12px;
        font-size: 0.75rem;
    }
}

code {
    font-family: "Courier New";
    background: #efefef;
    line-height: 25px;
    line-height: 1.5625rem;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    padding: 2.5px 4px;
    padding: 0.15625rem 0.25rem
}

.pagination {
    margin-top: 15px;
    margin-top: 0.9375rem
}

.pagination-button,
.older-posts,
.newer-posts {
    background: transparent;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    border: 1px solid #0da688;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0da688;
    padding: 10px 15px;
    padding: 0.625rem 0.9375rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in
}

.pagination-button:hover,
.older-posts:hover,
.newer-posts:hover {
    background: #0da688;
    color: #f9f9f9
}

.older-posts {
    float: right
}

.newer-posts {
    float: left
}

.tag__header {
    text-align: center;
    margin-top: 10px;
    margin-top: 0.625rem;
    color: #fff
}

.tag__header h1 {
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-weight: 700;
    color: #060606;
    font-size: 30px;
    font-size: 1.875rem
}

.tag__header h1 span {
    font-weight: 300;
    font-size: 21px;
    font-size: 1.3125rem
}

.tag__description {
    border-bottom: 1px solid #efefef
}

.tag__description p,
.tag__description .post .post-content ol li,
.post .post-content ol .tag__description li,
.tag__description .post .post-content ul li,
.post .post-content ul .tag__description li {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    line-height: 1.5625rem;
    color: #fff;
    text-align: center;
    font-family: "Lato", sans-serif, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol,
a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased
}

a.symbol:before {
    content: attr(title)
}

a.symbol {
    text-decoration: none
}

.socials h3 {
    margin: 10px 0px;
    margin: 0.625rem 0rem;
    font-weight: 400
}

.socials h4 {
    margin: 10px 0px;
    margin: 0.625rem 0rem
}

.socials ul {
    list-style-type: none
}

.socials li {
    float: left;
    margin-right: 10px;
    margin-right: 0.625rem
}

.socials li:last-child {
    margin-right: 0px
}

.socials li a {
    font-size: 42.5px;
    font-size: 2.65625rem;
    color: #0da688;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.socials li a:hover {
    color: #076351
}

.footer {
    width: 100%;
    background: #076351;
    color: #f9f9f9;
    text-align: center;
    font-weight: 300;
    padding: 15px 0px;
    padding: 0.9375rem 0rem
}

.footer p,
.footer .post .post-content ol li,
.post .post-content ol .footer li,
.footer .post .post-content ul li,
.post .post-content ul .footer li {
    font-family: "Lato", sans-serif, Helvetica, sans-serif
}

.footer a.socials {
    text-decoration: none;
    margin-right: 20px;
    margin-right: 1.25rem;
    color: #f9f9f9;
    font-size: 27px;
    font-size: 1.6875rem
}

.footer .copyright {
    margin: 10px 0px;
    margin: 0.625rem 0rem
}

.footer a {
    color: #b4d0ca;
    text-decoration: none
}


